/* ------------------------------------ *\
    $FORMS
\* ------------------------------------ */

.o-form div.wpforms-container,
div.wpforms-container {
  max-width: $large;
  margin-top: $space;
  margin-bottom: 0;

  .wpforms-form {
    form ol,
    form ul {
      list-style: none;
      margin-left: 0;
    }

    fieldset {
      border: 0;
      padding: 0;
      margin: 0;
      min-width: 0;
    }

    input,
    textarea {
      width: 100%;
      border: none;
      appearance: none;
      outline: 0;
    }

    input[type=text],
    input[type=password],
    input[type=email],
    input[type=search],
    input[type=tel],
    input[type=number],
    input[type=date],
    input[type=url],
    input[type=range],
    textarea,
    .wpforms-field-stripe-credit-card-cardnumber {
      width: 100%;
      max-width: 100%;
      padding: $space-half;
      box-shadow: none;
      border-radius: $border-radius;
      border: $border--standard;

      &::placeholder {
        color: $c-gray;
      }

      &:focus {
        border: 2px solid $c-secondary;
      }
    }

    select {
      width: 100%;
      max-width: 100% !important;
      padding: 0 $space-half;
      box-shadow: none;
      border-radius: $border-radius;
      border: $border--standard;
      outline: none;
      background-position: right $space-half center !important;
    }

    .choices .choices__inner {
      border-radius: $border-radius;
      border: $border--standard;
    }

    input[type=radio],
    input[type=checkbox] {
      outline: none;
      margin: 0;
      margin-right: $space-half;
      height: 30px;
      width: 30px;
      line-height: 1;
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: 0 0;
      cursor: pointer;
      display: block;
      float: left;
      border: $border--standard;
      padding: 0;
      user-select: none;
      appearance: none;
      background-color: $c-white;
      transition: background-color 0.25s $transition-effect;
    }

    input[type=radio] + label,
    input[type=checkbox] + label {
      cursor: pointer;
      position: relative;
      margin-bottom: 0;
      overflow: hidden;
      text-transform: none;
      letter-spacing: normal;
      font-family: $ff-font--secondary;
      font-size: $font-size-s;
      width: calc(100% - 40px);
      min-height: 30px;
      display: block;
      line-height: 1.4;
      padding-top: 6px;
    }

    input[type=checkbox]:checked,
    input[type=radio]:checked {
      background: $c-secondary url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath d='M26.08,3.56l-2,1.95L10.61,19l-5-4L3.47,13.29,0,17.62l2.17,1.73L9.1,24.9,11,26.44l1.77-1.76L28.05,9.43,30,7.48Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
      background-size: 13px 13px;
      border-color: $c-secondary;
    }

    input[type=checkbox] {
      border-radius: $border-radius;
    }

    input[type=radio] {
      border-radius: 50px;
    }

    input[type=submit] {
      transition: $transition-all;
    }

    /* clears the 'X' from Internet Explorer */
    input[type=search]::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }

    input[type=search]::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    }

    /* clears the 'X' from Chrome */
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      display: none;
    }

    /* removes the blue background on Chrome's autocomplete */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset;
    }

    .wpforms-field-row.wpforms-field-large,
    .wpforms-field-row.wpforms-field-medium,
    .wpforms-field-row.wpforms-field-small {
      max-width: 100% !important;
    }

    .wpforms-error {
      font-weight: normal;
      font-style: italic;
    }

    .wpforms-field-divider {
      margin-top: $space;
      margin-bottom: $space-half;
      display: block;
      border-bottom: 1px solid $c-border;
    }

    .wpforms-datepicker-wrap .wpforms-datepicker-clear {
      right: $space-half;
    }

    .wpforms-list-2-columns ul {
      display: block;
      column-count: 2;
    }

    .wpforms-list-3-columns ul {
      display: block;
      column-count: 2;

      @include media('>medium') {
        column-count: 3;
      }

      li {
        width: 100%;
      }
    }

    label {
      font-size: $font-size-s;
      margin-bottom: $space-quarter;
    }
  }
}

#wpforms-form-1898 {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.form-locked-message {
  display: block !important;
  margin-top: $space;
}

.wpforms-confirmation-container-full {
  border-radius: $border-radius;
  padding: $space;

  & > * + * {
    margin-top: $space;
  }

  p:last-of-type {
    margin-top: $space;
  }
}
