{% if icon.name %}
  {% set base_class = icon.base_class|default('o-icon') %}

  <span class="{{ bem_classes(base_class, icon.element, icon.modifiers, icon.extra) }}" aria-label="{{ icon.title ? icon.title : icon.name|capitalize }}">
    {% include '@atoms/icons/' ~ icon.name ~ '.twig' %}
  </span>
{% endif %}
