/* ------------------------------------ *\
    $SPECIFIC FORMS
\* ------------------------------------ */

/* Social Links */
.c-social-links {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    padding: $space-half;
    border-radius: 40px;
    margin: 0 $space-half;
    background-color: $c-primary;

    svg path {
      transition: $transition-all;
      fill: $c-white;
    }
  }
}
