/* ------------------------------------ *\
    $SPECIFIC FORMS
\* ------------------------------------ */

/* Social Links */
.c-social-links {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    padding: $space-half;
    margin: 0 $space-half;
    display: inline-flex;
    width: $icon-large;
    height: $icon-large;
    border-radius: $icon-large;
    background-color: $c-primary;

    svg path {
      transition: $transition-all;
      fill: $c-white;
    }
  }
}

.c-user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: $space-double;

  &__headshot {
    background: $c-gray--light url('data:image/svg+xml,%3Csvg width="50" height="58" viewBox="0 0 50 58" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M25 28.5714C32.8906 28.5714 39.2857 22.1763 39.2857 14.2857C39.2857 6.39509 32.8906 0 25 0C17.1094 0 10.7143 6.39509 10.7143 14.2857C10.7143 22.1763 17.1094 28.5714 25 28.5714ZM35 32.1429H33.1362C30.6585 33.2813 27.9018 33.9286 25 33.9286C22.0982 33.9286 19.3527 33.2813 16.8638 32.1429H15C6.71875 32.1429 0 38.8616 0 47.1429V51.7857C0 54.7433 2.39955 57.1429 5.35714 57.1429H44.6429C47.6004 57.1429 50 54.7433 50 51.7857V47.1429C50 38.8616 43.2812 32.1429 35 32.1429Z" fill="white"/%3E%3C/svg%3E') center center no-repeat;
    background-size: $icon-small $icon-small;
    width: $icon-large;
    height: $icon-large;
    border-radius: $icon-large;
    display: block;
    overflow: hidden;

    @include media('>medium') {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      background-size: $icon-large $icon-large;
    }

    .o-figure,
    a {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__details {
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: all 0.125s ease;

    @include media('>medium') {
      opacity: 1;
      visibility: visible;
    }
  }

  &__name {
    a {
      color: $c-black;
    }
  }

  &__position-title {
    text-align: center;
  }
}