{% set base_class = dashboard_cards.base_class|default('c-dashboard-cards') %}

{% if "member" in user.roles|keys %}
  {% set dashboard_cards = options.member_dashboard_pages %}
{% elseif "partner" in user.roles|keys %}
  {% set dashboard_cards = options.partner_dashboard_pages %}
{% endif %}

{% if dashboard_cards %}
  <div class="{{ bem_classes(base_class, dashboard_cards.element, dashboard_cards.modifiers, dashboard_cards.extra) }}" bp="grid 6@lg">
    {% for item in dashboard_cards %}
      {% include "@molecules/cards/card.twig" with {
        "card": {
          "icon": item.page_icon|lower|replace({'':'-'}),
          "title": Post(item.page).display_title ? Post(item.page).display_title : Post(item.page).title,
          "description": item.page_description,
          "button": {
            "text": item.page_button_text,
            "url": Post(item.page).link
          }
        }
      } %}
    {% endfor %}
  </div>
{% endif %}
