/* ------------------------------------ *\
    $HEADER
\* ------------------------------------ */

.logged-in .c-utility {
  top: 0;
}

.c-utility {
  position: relative;
  top: 0;
  z-index: 9;
  height: 40px;
  background: $c-primary;

  @include media(">medium") {
    position: sticky;
  }


  &--inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  &__nav {
    @include media("<=medium") {
      display: none;
    }
  }

  &__social {
    position: relative;
    left: -$space-half;

    a {
      border: 0;
      border-radius: 0;
      background: none;
      margin: 0;
      height: 40px;

      svg path {
        fill: $c-white;
      }

      &:hover,
      &:focus {
        background-color: $c-secondary;

        svg path {
          fill: $c-white;
        }
      }
    }
  }
}

.c-header {
  border-bottom: $border--standard-light;
  background-color: $c-white;

  &--inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    max-width: 240px;
    padding: $space 0;

    img {
      width: 100%;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    .c-nav-primary {
      display: none;

      @include media(">xlarge") {
        display: flex;
      }
    }

    .o-toggle {
      border-radius: 0;
      background: none;
      border: 0;
      position: relative;
      right: -$space-half;
      padding: $space;

      @include media(">xlarge") {
        display: none;
        right: -$space;
      }
    }
  }
}

/* ------------------------------------ *\
    $FOOTER
\* ------------------------------------ */

.c-footer {
  position: relative;
  z-index: 1;
  background-color: $c-secondary;
  font-weight: bold;
  margin-top: $space-quad;

  &-main {
    padding: $space-double 0;

    .c-footer--inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;

      @include media('>small') {
        flex-direction: row;
      }
    }

    &__contact {
      a {
        color: $c-black;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    &__social {
      @include media('<=small') {
        margin-left: -$space-half;
        margin-top: $space;
      }
    }
  }

  &-legal {
    background-color: $c-primary;
    color: $c-white;
    width: 100%;
    font-size: $font-size-xs;

    .c-footer--inner {
      padding-top: $space-quarter;
      padding-bottom: $space-quarter;
      grid-row-gap: 0;
    }

    &__copyright {
      text-align: center;

      @include media(">medium") {
        text-align: left;
      }
    }

    &__nav {
      @include media(">medium") {
        text-align: right;
      }
    }
  }
}
