<footer id="contact" class="c-footer">
  <div class="c-footer-main">
    <div class="c-footer--inner l-wrap l-container u-spacing--double">
      <div class="c-footer-main__nav">
        {% include "@molecules/navigation/nav-footer.twig" %}
      </div>
      <div class="c-footer-main__social">
        {% include "@molecules/components/social-links.twig" %}
      </div>
    </div>
  </div>
  <div class="c-footer-legal">
    <div class="c-footer--inner l-wrap l-container" bp="grid 6@md gap-row-none vertical-center">
      <div class="c-footer-legal__copyright">
        <p class="u-font--xs">Copyright {{"now"|date('Y')}}. All Rights Reserved.</p>
      </div>
      <div class="c-footer-legal__nav">
        {% include "@molecules/navigation/nav-footer-legal.twig" %}
      </div>
    </div>
  </div>
</footer>
