<div class="c-utility">
  <div class="c-utility--inner l-wrap l-container">
    <div class="c-utility__social">
      {% include "@molecules/components/social-links.twig" %}
    </div>
    <div class="c-utility__nav">
      {% include "@molecules/navigation/nav-utility.twig" %}
    </div>
  </div>
</div>
<header class="c-header">
  <div class="c-header--inner l-wrap l-container">
    <div class="c-header__logo">
      {% include "@atoms/images/logos/logo.twig" %}
    </div>
    <div class="c-header__nav">
      {% include "@molecules/navigation/nav-primary.twig" %}
      <button class="o-toggle o-icon o-icon--small js-toggle" data-toggled="body" data-prefix="menu" aria-role="Menu">
        {% include "@atoms/icons/menu.twig" %}
      </button>
    </div>
  </div>
</header>
{% include "@molecules/navigation/nav-drawer.twig" %}
