{% include "02-molecules/components/alert.twig" %}
<div class="c-utility">
  <div class="c-utility--inner l-wrap l-container">
    <div class="c-utility__social">
      {% include "02-molecules/components/social-links.twig" %}
    </div>
    <div class="c-utility__nav">
      {% include "02-molecules/navigation/nav-utility.twig" %}
    </div>
  </div>
</div>

<header class="c-header">
  <div class="c-header--inner l-wrap l-container">
    <div class="c-header__logo">
      {% include "01-atoms/images/logo.twig" %}
    </div>
    <div class="c-header__nav">
      {% include "02-molecules/navigation/nav-primary.twig" %}
    </div>
  </div>
</header>
