.wpua-edit {
  #wpua-images-existing,
  .submit {
    display: none;
  }

  h3 {
    margin-bottom: $space-half;
  }

  .wpua-upload-button-existing {
    display: flex;
    align-items: center;
  }

  #wpua-file-existing {
    width: auto;
    flex: auto;
    min-width: inherit;
    padding: $space-half;
    border: $border--standard;
    border-radius: $border-radius;
    margin-bottom: $space-quarter;
    background-color: white;
  }

  #wpua-upload-existing {
    @include o-button--secondary;
    padding: $space-half $space;
    margin-left: $space-half;
  }
}

.updated {
  font-style: italic;
  background-color: rgba($c-secondary, 0.1);
  border-radius: $border-radius;
  padding: $space-half;
  border: 1px solid $c-secondary;
}

.pp-password-reset-handler-wrap .pp-reset-password-form {
  padding: 0;
  margin: 0;

  h3 {
    @include p;
    text-align: center;
  }

  label {
    margin-bottom: 5px;
  }

  input {
    background: white;
    padding: 15px $space;
    margin-bottom: $space;
    border-radius: 56px !important;
    border-color: transparent;
    font-size: $font-size-body;
    border: $border--standard;

    &:focus {
      border-color: $c-secondary;
      box-shadow: 0 0 0 1px $c-secondary;
    }
  }

  input[type="submit"] {
    position: relative !important;
    border-radius: 50px !important;
    max-width: 220px;
    margin: 0 auto;
    background-color: $c-primary;
    @include o-button;

    &:hover {
      color: $c-white;
      background-color: $c-secondary;
    }
  }
}

.reset-password .pp-form-container {
  form > #pp-password-reset-1,
  form > #pp_password_reset_1 {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;

    * {
      @include p;
    }

    .ppbs-headline,
    .pp-form-material-icons {
      display: none;
    }

    .pp-form-field-wrap {
      padding: 0;
      margin: 0;

      input[type="text"] {
        padding: 15px $space;
        margin-bottom: $space;
        border-radius: 56px;
        border: $border--standard;
        font-size: $font-size-body;

        &:focus {
          border-color: $c-secondary;
          box-shadow: 0 0 0 1px $c-secondary;
        }
      }
    }

    .pp-reset-password-form,
    .pp-form-submit-button-wrap {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;

      input[type="submit"] {
        position: relative !important;
        border-radius: 50px !important;
        max-width: 220px;
        margin: 0 auto;
        background-color: $c-primary;
        @include o-button;

        &:hover {
          color: $c-white;
          background-color: $c-secondary;
        }
      }
    }
  }
}
