/* ------------------------------------ *\
    $TEXT
\* ------------------------------------ */

p {
  @include p;
}

small {
  font-size: 90%;
}

/**
 * Bold
 */
strong,
b {
  font-weight: bold;
}

/**
 * Blockquote
 */
blockquote {
  display: flex;
  flex-wrap: wrap;

  &::before {
    content: "\201C";
    font-family: $ff-font;
    font-size: 40px;
    line-height: 1;
    color: $c-secondary;
    min-width: 40px;
    border-right: 6px solid $c-border;
    display: block;
    margin-right: $space;
  }

  p {
    line-height: 1.7;
    flex: 1;
  }
}

/**
 * Horizontal Rule
 */
hr {
  height: 1px;
  border: none;
  background-color: rgba($c-gray--light, 0.5);
  margin: 0 auto;
}

.o-hr--small {
  border: 0;
  width: 100px;
  height: 2px;
  background-color: $c-black;
  margin-left: 0;
}

/**
 * Abbreviation
 */
abbr {
  border-bottom: 1px dotted $c-gray;
  cursor: help;
}

/**
 * Eyebrow
 */
.o-eyebrow {
  padding: 0 $space-quarter;
  background-color: $c-black;
  color: $c-white;
  border-radius: $border-radius;
  display: inline-flex;
  line-height: 1;

  @include o-heading--xs;
}

/**
 * Page title
 */
.o-page-title {
  text-align: center;
}

/**
 * Intro
 */
.o-intro,
.o-intro p {
  font-size: $font-size-l;
  line-height: 1.6;
}

/**
 * Kicker
 */
.o-kicker {
  @include o-heading--m;
  font-weight: bold;
  color: $c-primary;
}

/**
 * Rich text editor text
 */
.o-rte-text {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include p;

  & > * + * {
    margin-top: $space;
  }

  > *:not(.o-section) {
    max-width: $large;
    margin-left: auto;
    margin-right: auto;
  }

  > dl dd,
  > dl dt,
  > ol li,
  > ul li,
  > p {
    @include p;
  }

  h2:empty,
  h3:empty,
  p:empty {
    display: none;
  }

  > h1,
  > h2,
  > h3 {
    padding-top: $space;
  }

  > h4 {
    margin-bottom: -$space-half;
  }

  .wp-block-buttons.aligncenter {
    .wp-block-button {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .wp-block-button__link {
    @include o-button;
    @include o-button--primary;
  }

  hr {
    margin-top: $space-double;
    margin-bottom: $space-double;
  }

  hr.o-hr--small {
    margin-top: $space;
    margin-bottom: $space;
  }

  code,
  pre {
    font-size: 125%;
  }
}

label,
.o-form div.wpforms-container-full .wpforms-form .wpforms-field-label,
div.wpforms-container-full .wpforms-form .wpforms-field-label {
  @include o-heading--xs;
}
