/* ------------------------------------ *\
    $BUTTONS
\* ------------------------------------ */

@mixin o-button {
  @include o-heading--xs;
  font-weight: 600;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  text-decoration: none;
  border-radius: 40px;
  text-align: center;
  line-height: 1.4;
  appearance: none;
  cursor: pointer;
  padding: 15px $space;
  text-transform: uppercase;
  outline: 0;
  border: 0;

  @include media('>medium') {
    padding: 15px $space-double;
    font-size: $font-size-s;
  }

  &:hover,
  &:focus {
    border: 0;
    outline: 0;
  }
}

/**
 * Button Primary
 */
@mixin o-button--primary {
  color: $c-white;
  background: linear-gradient(-250deg, $c-secondary 50%, $c-primary 50%);
  background-size: 250% 100%;
  background-position: right bottom;

  &:hover,
  &:focus {
    color: $c-white;
    background-position: left bottom;
  }
}

.o-button,
.o-button--primary,
button,
button[type="submit"],
input[type="submit"],
.o-form div.wpforms-container .wpforms-form button[type=submit],
div.wpforms-container .wpforms-form button[type=submit] {
  @include o-button;
  @include o-button--primary;
}

/**
 * Button Secondary
 */
@mixin o-button--secondary {
  color: $c-white;
  background: linear-gradient(-250deg, $c-primary 50%, $c-secondary 50%);
  background-size: 250% 100%;
  background-position: right bottom;

  &:hover,
  &:focus {
    color: $c-white;
    background-position: left bottom;
  }
}

div.wpforms-container .wpforms-form .wpforms-page-button,
.o-button--secondary {
  @include o-button;
  @include o-button--secondary;
}

/**
 * Button Tertiary
 */
@mixin o-button--tertiary {
  color: $c-primary;
  background: linear-gradient(-250deg, $c-primary 50%, transparent 50%);
  background-size: 250% 100%;
  background-position: right bottom;
  border: 2px solid $c-primary;

  &:hover,
  &:focus {
    color: $c-white;
    background-position: left bottom;
    border: 2px solid $c-primary;
  }

  &.is-disabled {
    border-color: $c-gray--light;
    color: $c-gray--light;
    pointer-events: none;
  }
}

.o-button--tertiary {
  @include o-button--tertiary;
}
