.c-dashboard-sidebar {
  position: relative;

  &__container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__sticky {
    position: sticky;
    top: $space;
  }

  &__toggle {
    position: fixed;
    bottom: $space-half;
    left: $space-half;
    padding: 0;
    width: $icon-large;
    height: $icon-large;
    border-radius: $icon-large;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(0);

    @include media('>medium') {
      display: none;
    }
  }

  a {
    font-size: 16px;
  }
}
