{% set base_class = aside.base_class|default('c-dashboard-sidebar') %}

{% if aside %}
  <aside class="{{ bem_classes(base_class, aside.element, aside.modifiers, aside.extra) }}">
    <div class="{{ bem_classes(base_class, 'container') }}">
      <div class="{{ bem_classes(base_class, 'sticky') }}">
        {% include "@molecules/components/user.twig" %}
        {% include "@molecules/navigation/nav-dashboard.twig" %}
      </div>
      {% include "@molecules/navigation/nav-dashboard-support.twig" %}
      <button class="{{ bem_classes(base_class, 'toggle') }} o-button--secondary o-toggle o-icon o-icon--small js-toggle" data-toggled="body" data-prefix="sidebar" aria-role="Menu">
        {% include "@atoms/icons/expand.twig" %}
      </button>
    </div>
  </aside>
{% endif %}
