.c-card {
  background-color: white;
  border-radius: $border-radius--large;
  box-shadow: $box-shadow--standard;
  padding: $space-double;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--dark {
    background-color: $c-gray--darker;

    .c-card__footer {
      border-color: $c-white;

      a {
        color: $c-white;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -$space-double;
    margin-right: -$space-double;
    margin-bottom: -$space-double;
    margin-top: $space-double;
    padding: $space-half $space;
    border-top: $border--standard;

    a {
      color: $c-black;
      line-height: 1;
      font-size: 14px;

      &:hover,
      &:focus {
        color: $c-secondary;
      }
    }

    a:first-child {
      @include o-heading--s;
      font-weight: 600;
      margin-right: $space;
    }

    a:last-child {
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .o-icon {
        margin-left: 5px;
      }
    }
  }
}