.c-card {
  background-color: white;
  border-radius: $border-radius--large;
  box-shadow: $box-shadow--standard;
  padding: $space-double;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c-card-badge {
  background-color: white;
  border-radius: $border-radius--large;
  box-shadow: $box-shadow--standard;
  padding: $space-double;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--dark {
    background-color: $c-gray--darker;

    .c-card-badge__footer {
      a,
      .o-link {
        color: $c-white;

        svg path {
          fill: currentColor;
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -$space-double;
    margin-right: -$space-double;
    margin-bottom: -$space-double;
    margin-top: $space-double;
    padding: $space-half $space;
    border-top: $border--standard;

    a,
    .o-link {
      color: $c-black;
      line-height: 1;
      font-size: 14px;

      &:hover,
      &:focus {
        color: $c-secondary;
      }
    }

    a:first-child {
      @include o-heading--s;
      font-weight: 600;
      margin-right: $space;
    }

    .o-link {
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border: 0;
      box-shadow: none;

      .o-icon {
        margin-left: 5px;
        display: inline-flex;

        svg path {
          fill: currentColor;
        }
      }
    }
  }
}