.c-card {
  background-color: white;
  border-radius: $border-radius--large;
  box-shadow: $box-shadow--standard;
  padding: $space-double;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}