{% if footer_nav.items %}
  <nav class="c-nav-footer" role="navigation">
    {% for item in footer_nav.items %}
      <a class="c-nav-footer__link" target="{{ item.target ? item.target : '_self' }}" href="{{ item.link }}">{{ item.title }}</a>
    {% endfor %}
  </nav>
{% endif %}