<div class="c-nav-drawer">
  <button class="c-nav-drawer__toggle js-toggle" data-toggled="body" data-prefix="menu" aria-label="Close">
    <span class="o-icon o-icon--small">{% include "@atoms/icons/close.twig" %}</span>
  </button>
  <div class="c-nav-drawer__nav">
    {% include "@molecules/navigation/nav-primary.twig" %}
    {% include "@molecules/navigation/nav-utility.twig" %}
  </div>
  <div class="c-nav-drawer__social">
    {% include "@molecules/components/social-links.twig" %}
  </div>
</div>
