/* ------------------------------------ *\
    $CONTENT
\* ------------------------------------ */

.c-content {
  > .o-page-title {
    margin-top: $space-double;
    margin-bottom: $space-double;
  }
}

.c-content-dashbaord {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  position: relative;

  &__sidebar {
    padding: $space-half;
    background: white;
    margin-left: -$space;
    margin-bottom: -$space-quad;
    top: 0;
    left: 0;
    position: sticky;
    width: 100%;
    max-width: 70px;
    transition: max-width 0.25s ease;

    @include media('>medium') {
      position: relative;
      padding: $space;
      max-width: $sidebar-width;
    }

    @include media('>xlarge') {
      margin-left: -$space-double;
    }
  }

  &__body {
    padding: $space-double $space 0 $space;
    max-width: $max-width;
    overflow: hidden;
    margin-right: -$space;

    @include media('>xlarge') {
      padding-left: $space-double;
    }

    .o-page-title,
    .o-intro {
      text-align: left;
      margin-left: 0;
    }

    .o-rte-text > * {
      margin-left: 0;
    }
  }
}

body.sidebar-is-active {
  .c-dashboard-sidebar {
    max-width: $sidebar-width;

    &__toggle {
      transform: rotate(-180deg);
    }
  }

  .c-dashboard-support-nav {
    opacity: 1;
    visibility: visible;
  }

  .c-user__details {
    opacity: 1;
    visibility: visible;
  }
}
