/* ------------------------------------ *\
    $CONTENT
\* ------------------------------------ */

.c-content-front {
  @include media(">medium") {
    padding-top: 35vh;
  }


  h1 {
    padding-left: $space;
    padding-right: $space;

    @include media(">medium") {
      padding-top: $space-double;
    }
  }

  p {
    max-width: $large;
    padding-left: $space;
    padding-right: $space;
    margin-left: auto;
    margin-right: auto;
  }
}
