<article class="c-content c-content-page">
  {% include "02-molecules/components/page-header.twig" %}
  <div class="o-rte-text">
    {{ post.content }}
    {% if user_logged_in and is_page_login %}
      <div class="o-intro u-align--center u-spacing">
        <p>You're already logged in.</p>
        <a href="/wp-admin" class="o-button">Go to Dashboard</a>
      </div>
    {% endif %}
  </div>
</article>